{% extends 'ClsSiteBundle::layout.html.twig' %}

{% block image_separator %}
  <img class="img-separator" src="{{ asset('bundles/clssite/images/maincall_2.jpg') }}" alt="Projetos de alta qualidade industrial" />
{% endblock %}

{% block content %}
<section class="content">
  <div class="default-block center clearfix content-wrapper">
    <section class="subitem inner">
      <h1>Serviços</h1>
      <ul>
        <li>MONTAGEM E MANUTENÇÃO DE ESTRUTURAS METÁLICAS</li>
        <li>MONTAGEM E MANUTENÇÃO DE ROBÔS DE PRODUÇÃO KUKA E FANUK .</li>
        <li>MONTAGEM E MANUTENÇÃO DE ELETROCALHAS , TALHAS ELÉTRICAS, KBK , TRANSPORTADORES</li>
        <li>MONTAGENS DE PISTAS CABLE GUN E TRAFOGAM</li>
        <li>Ex: FASE ARO BOSH, SICAMET</li>
        <li>MONTAGEM DE BARRAMENTOS ELÉTRICOS</li>
        <li>MONTAGEM E TRANSFERÊNCIA DE LINHA DE MONTAGEM AUTOMOTIVA</li>
        <li>ERGONOMIA DE PINÇAS</li>
        <li>TUBULAÇÃO</li>
        <li>METROLOGIA</li>
        <li>FABRICAÇÃO DE TRAVAS DE PINÇAS</li>
        <li><a href="{{ path('cls_gallery') }}">Visite a galeria</a></li>
      </ul>
    </section>

    <section class="equipment inner">
      {{ render(url('cls_equipment_list')) }}
    </section>
  </div>
</section>
{% endblock %}