{% extends 'ClsSiteBundle::layout.html.twig' %}

{% block image_separator %}
  <img class="img-separator" src="{{ asset('bundles/clssite/images/maincall_2.jpg') }}" alt="Projetos de alta qualidade industrial">
{% endblock %}

{% block content %}
<section class="content">
  <div class="default-block center clearfix content-wrapper">
    <section class="subitem inner">
      <h1>Contato</h1>
      <p>Para contactar a CLS, você pode optar por várias possibilidades. Para contato imediato através do site, utilize o formuĺário abaixo. Os suportes móveis estão ao lado.</p>
    </section>

    <section class="equipment inner">
      <h2>Equipamentos</h2>
      <img src="{{ asset('bundles/clssite/images/equipamentos_2.jpg') }}" alt="Equipamento cls">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, labore, reprehenderit ducimus vitae beatae impedit quisquam ratione repudiandae magni ullam hic assumenda nisi cumque nesciunt accusamus praesentium id a rerum.</p>
    </section>
  </div>
</section>
{% endblock %}