.left-text {
    float: left;
    margin-left: 30px;
    width: 120px;
}

.right-text {
    margin-right: 30px;
    width: 150px;
    float: right;
}

.upper-footer {
    background: url('/bundles/clssite/images/footer-pattern.jpg');
    height: 250px;
}

.upper-footer-content {
    background: #fff;
    border-radius: 22px;
    height: 135px;
    position: relative;
    top: 50px;
}

.upper-item {
    width: 30%;
    float: left;
    height: 100%;
    padding: 10px;
}

.upper-item h3 {
    color: #136ca8;
    font-size: 18px;
    margin-bottom: 0;
}

.upper-item.middle {
    padding-left: 31px;
    width: 24%;
}

.upper-item.first {
    margin-right: 40px;
}

.upper-item.last {
    margin-left: 40px;
}

.image-left {
    float: left;
}