.left-text {
    float: left;
    margin-left: 30px;
    width: 120px;
}

.right-text {
    margin-right: 30px;
    width: 150px;
    float: right;
}

.upper-footer {
    background: url('/bundles/clssite/images/footer-pattern.jpg');
}