@font-face {
    font-family: 'Titillium Web Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/bundles/clssite/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Titillium Web Bold';
    font-weight: bold;
    font-style: normal;
    src: url('/bundles/clssite/fonts/TitilliumWeb-Bold.ttf');
}

body {
    font: 14px 'Titillium Web Regular' !important;
    color: #6a6b6b !important;
}

.default-block {
    width: 1024px;
}

.center {
    margin: 0 auto;
}

section.content {
    background: url('/bundles/clssite/images/content-pattern.jpg');
    min-height: 500px;
}

.inner {
    min-height: 400px;
    background: #fff;
    padding: 30px;
    float: left;
    margin: 50px 0;
}

section.subitem {
    width: 560px;
    border-radius: 22px;
    margin-right: 50px;
}

section.subitem h1 {
    font-size: 18px;
    color: #136ca8;
    line-height: 26px;
    margin: 0;
}

section.equipment {
    width: 229px;
    border-radius: 22px;
}

section.equipment h2 {
    font-size: 18px;
    color: #136ca8;
    line-height: 26px;
    margin: 0;
}

section.equipment p {
    margin-top: 10px;
}

.content-wrapper {
    margin: 0 auto;
}