{% extends 'ClsSiteBundle::layout.html.twig' %}

{% block image_separator %}
  <img class="img-separator" src="{{ asset('bundles/clssite/images/maincall_2.jpg') }}" alt="Projetos de alta qualidade industrial">
{% endblock %}

{% block content %}
<section class="content">
  <div class="default-block center clearfix content-wrapper">
    <section class="subitem inner">
      <h1>Empresa</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, corporis minima porro labore itaque maiores distinctio. Assumenda, tempora, cum, voluptatem culpa est alias maxime dignissimos quibusdam iure obcaecati facere facilis!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet, odit accusantium cupiditate enim iusto sed totam excepturi minus iure temporibus sit quisquam ipsam asperiores quo eligendi ratione recusandae velit!</p>
    </section>

    <section class="equipment inner">
      {{ render(url('cls_equipment_list')) }}
    </section>
  </div>
</section>
{% endblock %}