{% extends 'ClsSiteBundle::layout.html.twig' %}

{% block image_separator %}
  <img class="img-separator" src="{{ asset('bundles/clssite/images/maincall_2.jpg') }}" alt="Projetos de alta qualidade industrial" />
{% endblock %}

{% block content %}
<section class="content">
  <div class="default-block center clearfix content-wrapper">
    <section class="subitem inner">
      <h1>Serviços realizados</h1>
      <ul class="thumbnails">
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
          <li class="span3"><a href="#" class="thumbnail"><img src="" alt="" data-src="holder.js/260x180"></a></li>
      </ul>
    </section>

    <section class="equipment inner">
      {{ render(url('cls_equipment_list')) }}
    </section>
  </div>
</section>
{% endblock %}